<div class="content-container auth-container">
    <div class="auth-input-container">
        <div class="error-message">{{error}}</div>
        <plat-input type="email" plat-bind="email" placeholder="Email"></plat-input>
        <plat-input type="password" plat-bind="password" placeholder="Password"></plat-input>
    </div>
    <plat-button class="button-primary gs-button" plat-tap="login">Login</plat-button>
    <plat-button class="button-secondary gs-button" plat-tap="register">Register</plat-button>
</div>
