﻿<div class="navbar" plat-visible="{{showNavbar}}">
    <div class="navbar-center">
        <h2>Paitent Satisfaction Survey</h2>
    </div>
    <div class="navbar-right">
        <plat-drawer-controller plat-name="drawerController">
            <span class="navbar-icon"></span>
        </plat-drawer-controller>
    </div>
</div>