﻿<h4>On a scale of 1 to 10 how likely are you to recommend MainStreet Family Urgent Care to your friends and family?</h4><br/>

<div class="button-group">
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(1)" plat-disabled="{{rating === 1}}">1</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(2)" plat-disabled="{{rating === 2}}">2</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(3)" plat-disabled="{{rating === 3}}">3</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(4)" plat-disabled="{{rating === 4}}">4</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(5)" plat-disabled="{{rating === 5}}">5</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(6)" plat-disabled="{{rating === 6}}">6</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(7)" plat-disabled="{{rating === 7}}">7</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(8)" plat-disabled="{{rating === 8}}">8</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(9)" plat-disabled="{{rating === 9}}">9</plat-button>
    <plat-button plat-options="{ group: 'controls' }" class="button-primary" plat-tap="setRating(10)" plat-disabled="{{rating === 10}}">10</plat-button>
</div>
<plat-slider class="slider-primary" plat-bind="rating" plat-options="{ min: 0, max: 10, step: 1 }"></plat-slider>
<h4>What is the number one reason for your reply?</h4><br/>
<textarea id="comments" name="comments" plat-bind="comments" 
	placeholder="Let us know why you made that choice"
	style="width:100%" rows="4" cols="100"></textarea><br/>
<p></p>
<plat-button class="button-primary" plat-tap="save">Send Results</plat-button>
